.App {
  text-align: center;
}

.bookshelf {
  padding: 10px;
}

@media (min-width: 600px) {
  .bookshelf {
    padding: 0 20px 20px;
  }
}

.shelf-title {
  border-bottom: 2px solid grey;
}
.shelf-books {
  text-align: center;
}
.books-title {
  text-align: center;
  padding: 15px;
  font-weight: 400;
}
.books-title h1 {
  color: black;
}
.book-img{
  width: 200px;
}
.books-flex{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  flex-direction: row;
}
.searchbox{
  padding: 8px;
  width: 200px;
}